@model IEnumerable<WebsiteThuCungBento.Models.DONDATHANG>


@{
    ViewBag.Title = "Đơn đặt hàng ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top:10px">ĐƠN ĐẶT HÀNG</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div id="success-message" class="alert alert-success" style="text-align: center">
        @TempData["SuccessMessage"] <span style="color: green;">✔</span>
    </div>
}

<!-- Hiển thị thông báo lỗi -->
@if (TempData["ErrorMessage"] != null)
{
    <div id="error-message" class="alert alert-danger" style="text-align: center;">
        @TempData["ErrorMessage"] <span style="color: red;">✖</span>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Mã ĐH")
        </th>
        <th>
            @Html.DisplayName("Phương Thức Thanh Toán")
        </th>

        <th>
            @Html.DisplayName("Ngày Đặt")
        </th>
        <th>
            @Html.DisplayName("Ngày Giao")
        </th>
        <th>
            @Html.DisplayName("Mã Khách Hàng")
        </th>
        <th>
            @Html.DisplayName("Tên Khách Hàng")
        </th>
        <th>
            @Html.DisplayName("Tổng tiền")
        </th>
        <th style="text-align: center">
            @Html.DisplayName("Chi tiết")
        </th>
        @*<th>Hành động</th>*@

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.MADH)
            </td>

            <td>
                @*@Html.DisplayFor(modelItem => item.DATHANHTOAN)*@
                @if (item.HINHTHUCTT == "Chuyển khoản VNPAY")
                {
                    <label>
                        Chuyển khoản VNPAY
                        @if (item.TINHTRANGDH == true)
                        {
                            <span style="color: green;">✔</span>
                        }
                        else
                        {
                            <span style="color: red;">✖</span> // Chưa xác nhận
                        }
                    </label>
                }
                else
                {
            <label>
                Ship COD thanh toán khi nhận hàng
                @if (item.TINHTRANGDH == true)
                {
                    <span style="color: green;">✔</span>
                }
                else
                {
                    <span style="color: red;">✖</span>// Chưa xác nhận
                }
            </label>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NGAYDAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYGIAO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHACHHANG.HOTENKH)
            </td>
            <td>
                @(item.TONGTIEN.HasValue ? item.TONGTIEN.Value.ToString("N0") + "₫" : "0₫")
            </td>
            <td>
                <a href="@Url.Action("ChiTietDonHang", "DonHang", new { id = item.MADH })">
                    @*<img style="margin-left:25px" src="~/img/info_25px.png" />*@
                    <i class="fas fa-info-circle" style="margin-left:25px; font-size: 20px;"></i>
                </a>
            </td>

            @*<td style="text-align: center">
                    @Html.ActionLink("Xóa", "XoaDonHang", new { id = item.MADH })
                </td>*@
        </tr>
    }

</table>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#success-message").fadeOut("slow");
            $("#error-message").fadeOut("slow");
        }, 3000);
    });</script>