@model WebsiteThuCungBento.ViewModels.ListDVViewModel

@{
    ViewBag.Title = "Spa Thú Cưng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    /* CSS styling for the notification */
    .notification {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #f44336; /* Màu đỏ cho thông báo lỗi */
        color: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        font-family: Arial, sans-serif;
    }

    /* Time slots styling */
    .time-slots {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 12px;
        margin: 5px 0;
    }

    .time-slot {
        padding: 5px;
        border: 1px solid #ffbf00;
        border-radius: 12px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        .time-slot:hover {
            background-color: #f0f0f0;
        }

        .time-slot.active, .time-slot.selected {
            background-color: #ffbf00 !important;
            color: #fff;
            border-color: #ffbf00;
        }
</style>
<div id="notification" class="notification" style="display: none;">
</div>
<script>
    // Truyền giá trị TempData["ErrorMessage"] vào JavaScript
    var errorMessage = "@TempData["ErrorMessage"]";

    if (errorMessage && errorMessage !== "null") {
        // Gán nội dung và hiển thị notification
        document.getElementById("notification").textContent = errorMessage;
        document.getElementById("notification").style.display = "block";

        // Tự động ẩn sau 3 giây
        setTimeout(function () {
            document.getElementById("notification").style.display = "none";
        }, 9000);
    }
</script>

<style>
    .notification {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #f44336;
        color: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        font-family: Arial, sans-serif;
    }
</style>
<script>
    // Lấy giá trị TempData["ErrorMessage"] và chuyển sang chuỗi JavaScript
    var errorMessage = "@(TempData["ErrorMessage"] ?? "")"; // Sử dụng ?? để đảm bảo giá trị không bị null

    // Hàm để giải mã các ký tự HTML thành văn bản
    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    // Kiểm tra nếu errorMessage có giá trị, thì hiển thị notification
    if (errorMessage) {
        // Giải mã ký tự HTML trong errorMessage
        var decodedMessage = decodeHtml(errorMessage);

        // Gán nội dung đã giải mã và hiển thị notification
        document.getElementById("notification").textContent = decodedMessage;
        document.getElementById("notification").style.display = "block";

        // Tự động ẩn sau 9 giây
        setTimeout(function () {
            document.getElementById("notification").style.display = "none";
        }, 9000);
    }
</script>

<div class="container-fluid wrapGeneralBig" id="LP_Fagopet_Spa">
    <div class="fagopetSP_10" id="sectionLPSpa_1">
        <div class="area_1">
            <div class="container">
                <h1 class="titleBlock">Dịch vụ Spa cho Chó Mèo</h1>
            </div>
        </div>
        <div class="area_2">
            <div class="container">
                <div class="row rowFix d-flex">
                    <div class="imgBlock">
                        <div class="imgPart" namemedia="image0">
                            <img alt="fagopet" src="~/images/spa-cho-meo-1.jpg">
                        </div>
                    </div>

                    <form class="leftBlock product-form" action="/User/DangKyDichVu" method="post" novalidate="novalidate">
                        <input type="text" hidden name="serviceid" id="serviceid" />
                        <div class="selectServiceBlock">
                            @foreach (var listspa in Model.listDV)
                            {
                                <p class="serviceTab @if (Model.listDV.First() == listspa) { <text> active </text> }">@listspa.TenDV</p>
                            }
                        </div>
                        @foreach (var listspa in Model.listDV)
                        {
                            string[] listcombo = listspa.ComboDV.Split(',');
                            <div class="serviceBlock @if (Model.listDV.First() == listspa) { <text> active </text> } " servicetype="@listspa.TenDV">
                                @foreach (var combo in listcombo)
                                {
                                    <p class="dotText">@combo</p>
                                }

                                <div class="giftBlock">
                                    <p class="giftText">Chải - Tỉa gọn lông mặt tay chân</p>
                                </div>

                                <div class="fagopetSP_9">
                                    <div class="selectBlock">
                                        <p class="text_1">CÂN NẶNG CỦA BÉ</p>
                                        <div class="wrapFlex">
                                            @foreach (var listctspa in Model.listCTDV)
                                            {
                                                if (listctspa.MaDV == listspa.MaDV)
                                                {
                                                    <p class="typePet" khunggio="@listctspa.KhungGio" serviceid="@listctspa.MaCT" priceroom="@listctspa.DonGia" priceformat="@String.Format("{0:0,0}", listctspa.DonGia)Đ" typeroom="@listctspa.DichVu.TenDV">@listctspa.DieuKien</p>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="priceBlock">
                            <p class="priceText data_booking" id="price_service"></p>
                        </div>

                        <label style="margin-top: 10px; font-size: 18px; color: #ffbf00; font-weight: 150;">CHỌN KHUNG GIỜ</label>
                        <div class="time-slots btn-group" role="group" aria-label="Khung Giờ">
                            <button type="button" class="time-slot" data-khunggio="08:00 - 09:00" onclick="selectKhungGio(this)">08:00 - 09:00</button>
                            <button type="button" class="time-slot" data-khunggio="09:00 - 10:00" onclick="selectKhungGio(this)">09:00 - 10:00</button>
                            <button type="button" class="time-slot" data-khunggio="10:00 - 11:00" onclick="selectKhungGio(this)">10:00 - 11:00</button>
                            <button type="button" class="time-slot" data-khunggio="12:00 - 13:00" onclick="selectKhungGio(this)">12:00 - 13:00</button>
                            <button type="button" class="time-slot" data-khunggio="13:00 - 14:00" onclick="selectKhungGio(this)">13:00 - 14:00</button>
                            <button type="button" class="time-slot" data-khunggio="14:00 - 15:00" onclick="selectKhungGio(this)">14:00 - 15:00</button>
                            <button type="button" class="time-slot" data-khunggio="15:00 - 16:00" onclick="selectKhungGio(this)">15:00 - 16:00</button>
                            <button type="button" class="time-slot" data-khunggio="16:00 - 17:00" onclick="selectKhungGio(this)">16:00 - 17:00</button>
                        </div>
                        <input type="hidden" name="KhungGio" id="KhungGio" required />
                        <!-- Thông báo -->
                        <div id="notification"></div>
                        <div class="form-group">
                            <label style="margin-top: 10px; font-size: 18px; color: #ffbf00; font-weight: 150;" for="MAADMIN">Người Phụ Trách</label>
                            <select class="form-control" id="MAADMIN" name="MAADMIN" required>
                                <option value="">Chọn Nhân Viên Phụ Trách</option>
                                @if (Model.ADMINs != null && Model.ADMINs.Any())
                                {
                                    foreach (var admin in Model.ADMINs) // Giả sử bạn đã truyền danh sách admin vào model
                                    {
                                        if (@admin.HOTEN != "ADMIN")
                                        {

                                            <option value="@admin.MAADMIN">@admin.HOTEN</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="btnOrder">
                            <button class="btnType_2 Desktop_1 btn-booking1 submit-direct-order spa-cho-meo" type="submit" data_type="booking" object_name="Order">Đặt dịch vụ ngay</button>
                        </div>
                    </form>
                    <script>
                        articles = document.getElementsByClassName('serviceTab');
                        serviceblock = document.getElementsByClassName('serviceBlock');
                        typepet = document.getElementsByClassName('typePet');
                        var serviceid = document.getElementById("serviceid");
                        var KhungGio = document.getElementById("KhungGio").value;
                        for (var i = 0; i < articles.length; i++) {
                            articles[i].addEventListener('click', redirect, false);
                        }
                        function redirect() {
                            for (var i = 0; i < articles.length; i++) {
                                if (articles[i].classList.contains('active')) {
                                    articles[i].classList.remove('active');
                                }
                            }
                            this.classList.add('active');
                            for (var i = 0; i < serviceblock.length; i++) {
                                if (serviceblock[i].getAttribute('servicetype') == this.innerText) {
                                    serviceblock[i].classList.add('active');

                                }
                                else {
                                    serviceblock[i].classList.remove('active');
                                }
                            }
                            document.getElementById("price_service").innerHTML = "";
                        }
                        for (var i = 0; i < typepet.length; i++) {
                            typepet[i].addEventListener('click', selecttypepet, false);
                        }
                        function selecttypepet() {
                            for (var i = 0; i < typepet.length; i++) {
                                if (typepet[i].classList.contains('active')) {
                                    typepet[i].classList.remove('active');
                                }
                            }
                            this.classList.add('active');
                            document.getElementById("price_service").innerHTML = this.getAttribute('priceformat');
                            serviceid.value = this.getAttribute('serviceid');

                        }
                        function selectKhungGio(button) {
                            // Get the time value from the clicked button
                            var khunggio = button.getAttribute('data-khunggio');

                            // Set the value of the hidden input field
                            document.getElementById('KhungGio').value = khunggio;

                            // Optionally, you can change the button's style to indicate selection
                            var buttons = document.querySelectorAll('.btn-group .btn');
                            buttons.forEach(function (btn) {
                                btn.classList.remove('active');
                            });
                            button.classList.add('active');
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="underlineBlock"></div>
    </div>

    <div class="fagopetSP_18 generalPD" id="sectionLPSpa_2">
        <div class="container">
            <p class="titleBlock wk-editable-text" id="sectionLPSpa_2-text1">BẢNG GIÁ DỊCH VỤ GROOMING SPA CHÓ MÈO</p>
            <div class="fagopetSP_19">
                <p class="title wk-editable-text" id="sectionLPSpa_2-text2">gói tắm cơ bản</p>
                <div class="wrapFlex">
                    <div class="nameSer">
                        <p class="nameText wk-editable-text" id="sectionLPSpa_2-text3">Dịch vụ bao gồm</p>
                    </div>
                    <div class="rightContent">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text4">Dưới 2kg</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text5">2kg - &lt; 4kg</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text6">4kg - &lt; 9kg</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text7">9kg - &lt; 15kg</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text8">15kg - &lt; 20kg</td>
                                </tr>
                                <tr>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text9">89.000</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text10">120.000</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text11">170.000</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text12">220.000</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text13">270.000</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text text_1 wk-editable-text" id="sectionLPSpa_2-text14">Sục Ozone</p>
                        <p class="text wk-editable-text" id="sectionLPSpa_2-text15">Làm sạch sâu đánh bay tế bào chết trên da</p>
                        <p class="text wk-editable-text" id="sectionLPSpa_2-text16">Tái tạo lông hư tổn, giúp lông mềm mượt</p>
                        <p class="text wk-editable-text" id="sectionLPSpa_2-text17">Chăm sóc và phục hồi da, hỗ trợ điều trị nấm cho Pet</p>
                    </div>
                </div>
            </div>
            <div class="row area_2 d-flex">
                <div class="smallBlock">
                    <div class="fagopetSP_19">
                        <p class="title wk-editable-text" id="sectionLPSpa_2-text18">COMBO SPA TRỌN GÓI</p>
                        <div class="wrapFlex">
                            <div class="nameSer">
                                <p class="nameText wk-editable-text" id="sectionLPSpa_2-text19">Dịch vụ bao gồm</p>
                            </div>
                            <div class="rightContent">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text20">Dưới 4kg </td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text21">4kg - &lt; 9kg</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text22">9kg - &lt; 15kg</td>
                                        </tr>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text23">180.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text24">250.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text25">300.000</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text text_1 wk-editable-text" id="sectionLPSpa_2-text26">Sục Ozone</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text27">Tắm + sấy</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text28">Vệ sinh tổng quát</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text29">Nặn tuyến hôi</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text30">Xịt serum dưỡng lông</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text31">Làm sạch lông bàn chân</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text32">Làm sạch chân bụng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text33">Cắt và mài móng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text34">Nhỏ mắt</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text35">Tỉa gọn lông mặt, chân trước, sau</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="fagopetSP_19">
                        <p class="title wk-editable-text" id="sectionLPSpa_2-text36">COMBO SPA + CẮT TẠO KIỂU</p>
                        <div class="wrapFlex">
                            <div class="nameSer">
                                <p class="nameText wk-editable-text" id="sectionLPSpa_2-text37">Dịch vụ bao gồm</p>
                            </div>
                            <div class="rightContent">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text38">Dưới 4kg </td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text39">4kg - &lt; 9kg</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text40">9kg - &lt; 15kg</td>
                                        </tr>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text41">350.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text42">420.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text43">550.000</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text text_1 wk-editable-text" id="sectionLPSpa_2-text44">Sục Ozone</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text45">Tắm + sấy</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text46">Vệ sinh tổng quát</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text47">Nặn tuyến hôi</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text48">Xịt serum dưỡng lông</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text49">Làm sạch lông bàn chân</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text50">Làm sạch chân bụng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text51">Cắt và mài móng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text52">Nhỏ mắt</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text53">Tỉa gọn lông mặt, chân trước, sau</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text54">Cắt, tạo kiểu theo yêu cầu</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="fagopetSP_19">
                        <p class="title wk-editable-text" id="sectionLPSpa_2-text55">COMBO SPA + CẠO LÔNG</p>
                        <div class="wrapFlex">
                            <div class="nameSer">
                                <p class="nameText wk-editable-text" id="sectionLPSpa_2-text56">Dịch vụ bao gồm</p>
                            </div>
                            <div class="rightContent">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text57">Dưới 4kg </td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text58">4kg - &lt; 9kg</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text59">9kg - &lt; 15kg</td>
                                        </tr>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text60">280.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text61">320.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text62">520.000</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text text_1 wk-editable-text" id="sectionLPSpa_2-text63">Sục Ozone</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text64">Tắm + sấy</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text65">Vệ sinh tổng quát</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text66">Nặn tuyến hôi</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text67">Xịt serum dưỡng lông</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text68">Làm sạch lông bàn chân</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text69">Làm sạch chân bụng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text70">Cắt và mài móng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text71">Nhỏ mắt</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text72">Tỉa gọn lông mặt, chân trước, sau</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text73">Cạo lông theo yêu cầu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<a class="specialBlock_11" data-target="#popup_registration_1" data-toggle="modal" id="sectionLPSpa_3">
            <picture>
                <img alt="fagopet" src="~/images/img_7.png">
            </picture>
        </a>*@
    <div class="fagopetSP_12 generalPD" id="sectionLPSpa_4">
        <div class="container">
            <div class="titleBlock_6">
                <h2 class="titleText">Những Dịch vụ Grooming Spa Cho Chó Mèo cao cấp khác của Fago Pet</h2>
            </div>
            <div class="row rowFix d-flex">
                <div class="smallBlock">
                    <div class="wrapBox hasImg">
                        <p class="titleText">GỠ RỐI</p>
                        <div class="underline"></div>
                        <p class="text_1">Từ 50.000đ đến 200.000đ</p>
                        <p class="noteText">Tùy thuộc vào mức độ rối thực tế của bé!</p>
                        <div class="imgBottom">
                            <img alt="fagopet" src="~/images/img_8.png">
                        </div>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="wrapBox">
                        <p class="titleText">DỊCH VỤ LẺ</p>
                        <div class="underline"></div>
                        <div class="priceSer">
                            <p class="text_2">Gỡ rối lông</p>
                            <p class="text_2">Từ 50.000 - 200.000 tùy độ rối thực tế của pet</p>
                        </div>
                        <div class="priceSer">
                            <p class="text_2">Vệ sinh - nhổ lông tai</p>
                            <p class="text_2">50.000</p>
                        </div>
                        <div class="priceSer">
                            <p class="text_2">Cắt và mài móng</p>
                            <p class="text_2">50.000</p>
                        </div>
                        <div class="priceSer">
                            <p class="text_2">Cạo bàn chân, bụng, chỗ đi vệ sinh</p>
                            <p class="text_2">50.000</p>
                        </div>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="wrapBox hasImg">
                        <p class="titleText">PHỤ THU DỊCH VỤ TẠI NHÀ</p>
                        <div class="underline"></div>
                        <p class="text_1">Phụ thu thêm 12% phí dịch vụ khi làm tại nhà khách</p>
                        <p class="noteText">Có tính phí di chuyển 1 chiều!</p>
                        <div class="imgBottom">
                            <img alt="fagopet" src="~/images/img_9.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
