

@model IEnumerable<WebsiteThuCungBento.Models.PHANQUYEN>
@{
    ViewBag.Title = "Danh sách phân quyền";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG QUẢN LÝ QUYỀN</h2>


<table class="table">
    <tr>
        <th>
            Mã quyền
        </th>
        <th>
            Mã chức năng
        </th>
        <th>
            Tên chức năng
        </th>
        <th>
            Loại tài khoản
        </th>
        <th>
            Họ và tên
        </th>
        <th>
            Xóa
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MAPQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MACHUCNANG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUCNANG_QUYEN.TENCN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADMIN.TENLOAI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADMIN.HOTEN)
            </td>
            <td>
                @*@Html.ActionLink("Sửa", "Edit", new { id = item.MAPQ }) |*@
                @*@Html.ActionLink*@
                <a href="#" class="deleteRole" data-id="@item.MAPQ"
                   data-role="@item.CHUCNANG_QUYEN.TENCN"
                   data-user="@item.ADMIN.HOTEN">
                    <img style="margin-left:25px" src="~/img/icons/icon_Xoa.png" />
                </a>
            </td>
        </tr>
    }

</table>

@*roadlinktop*@
<ul class="roadlinktop">
    <a href="/AdminPQ/DSPhanQuyen">
        <i class="fas fa-chevron-left"></i><span style="font-size:15px"> Trở lại trang người quản trị</span>
    </a>
</ul>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa Phân Quyền</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa quyền <strong><span id="roleName"></span></strong> cho <strong><span id="userName"></span></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="deleteButton">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Open modal on clicking "Xóa"
        $('.deleteRole').click(function (e) {
            e.preventDefault(); // Prevent the default link action
            var permissionId = $(this).data('id');
            var roleName = $(this).data('role');
            var userName = $(this).data('user');

            // Populate the modal with data
            $('#roleName').text(roleName);
            $('#userName').text(userName);

            // Store the permissionId for later use when confirming deletion
            window.deletePermissionId = permissionId;

            // Show the modal
            $('#deleteModal').modal('show');
        });

        // Handle deletion when the "Xóa" button in the modal is clicked
        $('#deleteButton').click(function () {
            var permissionIdToDelete = window.deletePermissionId;

            $.ajax({
                url: '/AdminPQ/Delete',  // URL to your Delete action
                type: 'POST',
                data: { id: permissionIdToDelete },
                success: function (response) {
                    if (response.success) {
                        // Close the modal
                        $('#deleteModal').modal('hide');
                        // Optionally, remove the row from the table
                        $('a[data-id="' + permissionIdToDelete + '"]').closest('tr').remove();
                        alert(response.message);
                    } else {
                        alert(response.message);
                    }
                },
                error: function (error) {
                    alert('Có lỗi xảy ra khi xóa.');
                }
            });
        });
    });

</script>